.carousel-container {
  display: flex;
  min-height: 350px;
  justify-content: center;
  width: 100%;
}

.slide {
  position: absolute;
  max-width: 1000px;
}

.control-container {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%
}

.control {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 3em;
  opacity: 30%;
}

.control:hover {
  opacity: 80%;
}

.arrow {
  display: block;
  border-left: 0.1em solid black;
  border-bottom: 0.1em solid black;
  width: 0.5em;
  height: 0.5em;
}

.arrow-left {
  transform: rotate(45deg);
}

.arrow-right {
  transform: rotate(225deg);
}

