<div class="carousel-container">
  <ng-container *ngFor="let summary of availableSummaries">
    <app-carousel-slide *ngIf="summary===currentSummary" class="slide" [slideData]="summary" @slideAnimation></app-carousel-slide>
  </ng-container>

  <div class="control-container">
    <button *ngIf="availableSummaries.length>1" (click)="previousSlide()" class="control control-prev">
      <span class="arrow arrow-left"></span>
    </button>
    <button *ngIf="availableSummaries.length>1" (click)="nextSlide()" class="control control-next">
      <span class="arrow arrow-right"></span>
    </button>
  </div>
</div>
