.cv-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--background-main);
}

.name-container{
  text-align: center;
}
.name{
  font-size: 4rem;
}

.jobTitle{
  font-size:2rem;
}
.cv-section-list {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cv-section {
  --flex-direction: row;
  --content-background: var(--section-background);
  --title-background: var(--title-background-main);
}

.cv-section:nth-child(odd){
  --flex-direction: row-reverse;
  --title-background: var(--title-background-alternate);
  --content-background: var(--section-background-alternate);
}
