<div class="description-container">
    <div class="description-title title-box">
      <h2> About</h2>
    </div>
    <div class="description-content">
      <p class="description">{{profileData.description}}</p>
<!--      <div class="skill-list">-->
<!--        <div class="skill-logo" *ngFor="let icon of profileData.skillIcons">-->
<!--          <img class="skill-image" [src]="icon.image">-->
<!--          <p>{{icon.label}}</p>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>

