/*.skill-logo {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

/*.skill-image {*/
/*  width: 32px;*/
/*  height: 32px;*/
/*}*/

.description-container {
  display: flex;
  justify-content: center;
}

.description-title {
  background-color: var(--title-background-main);
}

.description-content {
  padding: 50px 75px;
  width: 1000px;
  box-sizing: border-box;
  background-color: var(--section-background);
}

.skill-list {
  display: flex;
  justify-content: space-around;
}
